[submodule "wezterm/.config/wezterm/wezterm/.config/wezterm/wezterm.nvim"]
	path = wezterm/.config/wezterm/wezterm/.config/wezterm/wezterm.nvim
	url = git@github.com:aca/wezterm.nvim.git
[submodule "zsh/.zshrc.d/plugins/z.lua"]
	path = zsh/.zshrc.d/plugins/z.lua
	url = https://github.com/skywind3000/z.lua
[submodule "fish/fish/auto-epp"]
	path = fish/fish/auto-epp
	url = https://github.com/jothi-prasath/auto-epp/
